<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="estagio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <estagio.My.MySettings>
            <setting name="save1" serializeAs="String">
                <value />
            </setting>
            <setting name="save2" serializeAs="String">
                <value />
            </setting>
            <setting name="save3" serializeAs="String">
                <value />
            </setting>
            <setting name="save4" serializeAs="String">
                <value />
            </setting>
            <setting name="save5" serializeAs="String">
                <value />
            </setting>
            <setting name="save6" serializeAs="String">
                <value />
            </setting>
            <setting name="save7" serializeAs="String">
                <value />
            </setting>
            <setting name="save8" serializeAs="String">
                <value />
            </setting>
            <setting name="save9" serializeAs="String">
                <value />
            </setting>
            <setting name="save10" serializeAs="String">
                <value />
            </setting>
            <setting name="save11" serializeAs="String">
                <value />
            </setting>
            <setting name="save12" serializeAs="String">
                <value />
            </setting>
            <setting name="save13" serializeAs="String">
                <value />
            </setting>
            <setting name="save14" serializeAs="String">
                <value />
            </setting>
            <setting name="save15" serializeAs="String">
                <value />
            </setting>
            <setting name="save16" serializeAs="String">
                <value />
            </setting>
        </estagio.My.MySettings>
    </userSettings>
</configuration>